<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Tune hub page</title>
<style type="text/css">
body {
	background-color: skyblue;
	border: 10px;
	box-flex: 10px;
}

.index {
	border: 10px;
	text-align: center;
	padding-top: 100px;
}

.index a {
	border: 2px solid black;
	padding: auto;
	background-color: black;
	font-family: sans-serif;
	font-weight: bold;
	border-radius: 7px;
	color: white;
	font-size: 20px;
	text-decoration: none;
}.name1 {
	background-color: #e6e6fa;
	font-size:100px;
}

.name2 {
	background-color:#ffdab9;
	font-size:100px;
}
</style>
</head>
<body>
	<div class="index">
		<h1>
			<span class="name1">TUNE🎼</span> <span class="name2">HUB🌈</span>
		</h1>
		<a href="login">LOGIN</a> <a href="registration">REGISTER</a>
	</div>
</body>
</html>